$(function()
{
    let showPopup = function(){
        $('.popup-container').css('display', 'flex')
    };

    let closePopup = function(){
        $('.popup-container').css('display', 'none')
    };
    
    let clearForm = function(){
        $('.popup-container > input[type="text"]').val('')
    };
});

html, body{
    height: 100%;
    font-family: Arial, Helvetica, Sans-Serif;
    color: grey; 

h1{
    color: blue
    }

h2:{
    color:yellow
}